.toggler__input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.toggler__state {
  display: inline-flex;
  align-items: center;
}

.toggler__legend {
  margin-left: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-7);
}

.toggler__control {
  width: 52px;
  height: 28px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}

.toggler__control::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 2px;
  top: calc(50% - 24px / 2);
  background: var(--grey-2);
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}
.toggler__input:checked ~ .toggler__state .toggler__control::after {
  margin-left: 45%;
  background: var(--white);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background: var(--blue-1);
  border-color: var(--blue-1);
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  background: var(--grey-2);
  border-color: var(--grey-2);
  cursor: default;
}

.toggler__input:disabled ~ .toggler__state .toggler__legend {
  color: var(--grey-2);
}
.toggler__input:disabled ~ .toggler__state .toggler__control::after {
  background: var(--grey-3);
}

.toggler__input:focus ~ .toggler__state .toggler__legend {
  text-decoration: underline;
}
