.histogram {
  width: fit-content;
  height: fit-content;
  min-width: 354px;
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
  position: relative;
}

.histogram__link {
  color: var(--blue);
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.histogram__value {
  font-size: 20px;
}

.histogram__link,
.histogram__value,
.histogram__label {
    font-family: 'Inter', sans-serif;
}

.histogram__element-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 40px;
}

.histogram__element {
  width: 10px;
  flex: 1;
  align-self: flex-end;
  background: var(--blue);
  padding: 1px;
  margin: 1px;
}
