.calendar {
  width: 100%;
  max-width: 304px;
  height: 324px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 28px 36px;
  display: flex;
  flex-direction: column;
}

.calendar__wrapper {
  position: relative;
  padding-bottom: 100%;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__item_active {
  background: var(--blue-1);
  color: var(--white);
}

.calendar__item_between_active {
  background: rgba(160, 177, 245, 0.5);
}
.calendar__item_day {
  color: var(--grey-8);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.calendar__title {
  align-self: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.calendar__item_day,
.calendar__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
