.skeleton {
  width: fit-content;
  height: fit-content;
  border: 1px solid #acb5bd;
  box-sizing: border-box;
  border-radius: 8px;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
    margin: 24px;
    gap: 16px

}
.skeleton__header-element-container {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left: 5px;
    flex-direction: column;
}

.skeleton__element-container {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    flex-direction: column;
    margin: 0 40px 32px 24px;
}

.skeleton__circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: linear-gradient(92.51deg, var( --grey-2) 6.44%, var( --grey-3) 38.47%, var( --grey-5) 56.48%, var( --grey-4) 77.5%, var( --grey-2) 102.52%);
    border-radius: 50%;
}

.skeleton__element {
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, var( --grey-2) 6.44%, var( --grey-3) 38.47%, var( --grey-5) 56.48%, var( --grey-4) 77.5%, var( --grey-2) 102.52%);
    flex-wrap: wrap;
}

.skeleton__element_long {
    width: 515px;
}

.skeleton__element_medium {
    width: 257px;
}

.skeleton__element_small {
    width: 177px;
}
