.page__box {
  margin: 0 auto;
}

.page__main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar card";
  column-gap: 56px;
  background: var(--grey-9);
  padding: 36px;
}
